In [1]:
!del sample.db

In [2]:
import sqlite3

# create the connectin object 
conn = sqlite3.connect("sample.db")

In [3]:
# create cursor 
cursor = conn.cursor()

In [4]:
create_table = """ 
                CREATE TABLE EMPLOYEE(
                FIRST_NAME CHAR(20) NOT NULL,
                LAST_NAME CHAR(20),
                AGE INT NOT NULL,
                SEX CHAR(1),
                INCOME FLOAT)
                """

# execute the ddl 
cursor.execute(create_table)
conn.commit()

In [5]:
cursor.fetchall()

[]

In [6]:
# insert data into database in single shot
insertion_command = """
INSERT INTO EMPLOYEE (FIRST_NAME,LAST_NAME, AGE,SEX,INCOME)
VALUES 
('John','snow','M', NULL ,50000.0),
('RAJAN','GHIMIRE','M', 25 ,550000.0),
('NAJAR','GHIMIRE','M', 25 ,550000.0);
"""
# execute the ddl 
cursor.execute(insertion_command)
conn.commit()

In [7]:
# get the entries from the first column
cursor.execute("SELECT * from EMPLOYEE")

In [8]:
for x in cursor:
    print(x)

('John', 'snow', 'M', None, 50000.0)
('RAJAN', 'GHIMIRE', 'M', '25', 550000.0)
('NAJAR', 'GHIMIRE', 'M', '25', 550000.0)

**Execute Many**

In [9]:
data = [
  ("Prajwal","Luitel",23,"M",15000000),
  ("Sambridhi","Luitel",23,"F",15000000)
]

stmt = "INSERT INTO EMPLOYEE (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES (?, ?, ?, ?, ?)"
cursor.executemany(stmt, data)
conn.commit()

In [10]:
# get the entries from the first column
cursor.execute("SELECT * from EMPLOYEE")
# for x in cursor:
#     print(x)

In [11]:
cursor.fetchone()

('John', 'snow', 'M', None, 50000.0)

In [12]:
cursor.fetchall()

[('RAJAN', 'GHIMIRE', 'M', '25', 550000.0),
 ('NAJAR', 'GHIMIRE', 'M', '25', 550000.0),
 ('Prajwal', 'Luitel', 23, 'M', 15000000.0),
 ('Sambridhi', 'Luitel', 23, 'F', 15000000.0)]