In [23]:
import pandas as pd
from copy import deepcopy
# Read csv file 
df = pd.read_csv("mtcars.csv", delimiter=",")

# print the dataframe head
df.head()

,Unnamed: 0,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,2,Datsun 710,NaN,4,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1.0,0.0,3.0,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0.0,0.0,NaN,2

In [12]:
# print the dataframe shape 
print("Total Rows:{} Columns:{}".format(df.shape[0],df.shape[1]))

Total Rows:32 Columns:13

In [13]:
# print dataframe stats of numerical columns.
df.describe()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
count,32.000000,30.000000,32.000000,32.000000,31.000000,31.000000,32.000000,29.000000,30.000000,28.000000,29.000000,32.0000
mean,15.500000,20.076667,6.187500,230.721875,147.870968,3.609032,3.217250,17.601379,0.433333,0.428571,3.724138,2.8125
std,9.380832,6.196366,1.785922,123.938694,69.363171,0.538766,0.978457,1.535459,0.504007,0.503953,0.751026,1.6152
min,0.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,7.750000,15.275000,4.000000,120.825000,96.000000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,15.500000,19.200000,6.000000,196.300000,123.000000,3.700000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,23.250000,22.475000,8.000000,326.000000,180.000000,3.920000,3.610000,18.610000,1.000000,1.000000,4.000000,4.0000
max,31.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,20.010000,1.000000,1.000000,5.000000,8.0000

In [14]:
# Check missing values 
df.isnull().sum()

Unnamed: 0      0
vichle_names    0
mpg             2
cyl             0
disp            0
hp              1
drat            1
wt              0
qsec            3
v_Shape         2
am              4
gear            3
carb            0
dtype: int64

In [16]:
# Check missing the ratio 
df.isnull().mean() * 100

Unnamed: 0       0.000
vichle_names     0.000
mpg              6.250
cyl              0.000
disp             0.000
hp               3.125
drat             3.125
wt               0.000
qsec             9.375
v_Shape          6.250
am              12.500
gear             9.375
carb             0.000
dtype: float64

In [28]:
missing_colums = list(df.columns[df.isna().any()])

In [27]:
mean_fill_df = deepcopy(df)
mode_fill_df = deepcopy(df)


# Relace with mean 
for col in missing_colums:
    mean_fill_df[col].fillna(value=df[col].mean(),inplace=True)

# Replae with mode
for col in missing_colums:
    mode_fill_df[col].fillna(value=df[col].mode(),inplace=True)

C:\Users\RJNGh\AppData\Local\Temp\ipykernel_4596\1373681891.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mean_fill_df[col].fillna(value=df[col].mean(),inplace=True)
C:\Users\RJNGh\AppData\Local\Temp\ipykernel_4596\1373681891.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mode_fill_df[col].fillna(value=df[col].mode(),inplace=True)

In [34]:
# get datatypes
df.dtypes

Unnamed: 0        int64
vichle_names     object
mpg             float64
cyl               int64
disp            float64
hp              float64
drat            float64
wt              float64
qsec            float64
v_Shape         float64
am              float64
gear            float64
carb              int64
dtype: object

In [45]:
# get all the numerical columns
numerical_cols = list(df._get_numeric_data().columns)

# get all the categorical columns
categorical_columns = set(df.columns) - set(numerical_cols)

# check we extracted all the columns
assert len(numerical_cols) + len(categorical_columns) == len(list(df.columns))

### Create Dataframe

In [48]:
data_dict = {
    "Name" : ["Rajan","Ghimire","Sudip","Arjan"],
    "SRN" : [1,2,3,4],
    "GPA" : [1.0,2.0,3.9,3.9]
}
# create dataframe obj from dict
df_custom = pd.DataFrame(data_dict)

# print the new dataframe head 
df_custom.head()

      Name  SRN  GPA
0    Rajan    1  1.0
1  Ghimire    2  2.0
2    Sudip    3  3.9
3    Arjan    4  3.9

In [50]:
# get the index of my name 
df_custom.loc[df_custom.Name == "Rajan"].index

Index([0], dtype='int64')

In [56]:
# Remanme index 
df_custom.index.name = "my_index"

# print df head 
df_custom.head()

             Name  SRN  GPA
my_index
0           Rajan    1  1.0
1         Ghimire    2  2.0
2           Sudip    3  3.9
3           Arjan    4  3.9

In [59]:
df_custom.to_csv("1.csv")

In [60]:
df_custom.to_json("1.json")

In [62]:
# generate random data
from sklearn.datasets import make_regression

In [64]:
features, target, coff = make_regression(
    n_samples= 100,
    n_features=3,
    n_informative=3,
    n_targets=1,
    noise=0.0,
    coef= True,
    random_state=1
)

In [66]:
print(f"Feature : {features} \n Target : {target}")

Feature : [[ 1.29322588e+00 -6.17362064e-01 -1.10447026e-01]
 [-2.79308500e+00  3.66332015e-01  1.93752881e+00]
 [ 8.01861032e-01 -1.86569772e-01  4.65672984e-02]
 [ 1.29101580e-01  5.02740882e-01  1.61694960e+00]
 [-6.91660752e-01 -6.87172700e-01 -3.96753527e-01]
 [-7.54397941e-01  5.12929820e-01  1.25286816e+00]
 [ 1.90465871e+00  6.59049796e-01  1.11105670e+00]
 [ 2.01830179e-01  1.79215821e+00  6.61020288e-01]
 [ 4.22137467e-02 -1.10061918e+00  5.82815214e-01]
 [-1.39649634e+00 -5.04465863e-01 -1.44411381e+00]
 [-3.10116774e-01  1.03882460e+00 -2.43483776e+00]
 [ 8.36004719e-01  7.58805660e-01  1.54335911e+00]
 [-8.45080274e-02  4.17302005e-01 -2.97361883e-01]
 [-8.90555584e-01  1.95607890e+00 -1.11911540e+00]
 [-9.35769434e-01  5.30355467e-01 -2.67888080e-01]
 [ 1.55880554e+00 -1.21974440e+00  1.09402696e-01]
 [ 8.10951673e-01 -4.00878192e-01  1.04444209e+00]
 [ 4.36689932e-02  1.33145711e+00 -2.26314243e-01]
 [ 7.42044161e-01 -8.87628964e-01 -1.91835552e-01]
 [ 1.69382433e-01 -9.53700602e-01  7.40556451e-01]
 [-1.61577235e+00  4.08900538e-01  1.12141771e+00]
 [ 2.19069973e+00 -6.46916688e-01 -1.89636092e+00]
 [ 1.39984394e+00 -4.37508983e-01 -7.81911683e-01]
 [ 8.24005618e-01  1.95487808e+00 -5.62305431e-01]
 [ 1.74481176e+00  3.19039096e-01 -7.61206901e-01]
 [-1.52568032e+00 -3.74438319e-01  7.95026094e-01]
 [-1.30572692e+00 -2.30839743e-01 -3.44987210e-01]
 [-1.01745873e-01  7.50411640e-01  8.68886157e-01]
 [-1.33195167e+00 -1.65072127e+00 -1.76068856e+00]
 [-1.27255876e+00  5.03184813e-01  3.13547720e-01]
 [-1.12201873e+00 -9.97026828e-01 -5.17094458e-01]
 [ 9.00855949e-01 -1.22890226e-01 -6.83727859e-01]
 [-2.02220122e+00  8.27974643e-01 -3.06204013e-01]
 [ 9.01486892e-01 -2.48634778e-01  2.52832571e+00]
 [ 1.96710175e+00  1.23616403e+00 -1.85798186e+00]
 [-1.11731035e+00  1.65980218e+00  2.34415698e-01]
 [ 3.15159392e-01 -8.59515941e-01  8.46160648e-01]
 [ 6.23362177e-01  1.40754000e+00 -4.34956683e-01]
 [-1.74703160e-01  2.13533901e-01  9.86335188e-01]
 [ 2.48799161e-01  4.95211324e-01 -2.96641152e-01]
 [-2.49370375e-01 -2.06014071e+00  1.46210794e+00]
 [-3.22417204e-01  1.13376944e+00 -3.84054355e-01]
 [-2.98092835e-01 -7.55717130e-02  4.88518147e-01]
 [ 2.11124755e-01  1.77187720e-01  1.65275673e-02]
 [ 4.03491642e-01 -1.09491185e+00  5.93578523e-01]
 [-6.65754518e-01  8.25029824e-01 -1.67419581e+00]
 [-2.87307863e-01 -3.19801599e-01  6.80069840e-01]
 [-1.07296862e+00 -2.30153870e+00  8.65407629e-01]
 [-3.43853676e-01 -6.20000844e-01  4.35968568e-02]
 [ 2.30094735e-01 -2.22328143e-01  7.62011180e-01]
 [-2.66218506e-01 -1.37311732e+00  3.26145467e-02]
 [-7.47158294e-01  5.08077548e-02  1.69245460e+00]
 [-1.04458938e+00  5.85662000e-01  2.05117344e+00]
 [ 1.14472371e+00  5.02494339e-01  9.01590721e-01]
 [ 4.29526140e-01  1.06222724e-01 -6.06998398e-01]
 [ 6.98032034e-01  1.22450770e+00 -4.47128565e-01]
 [-1.20464572e-01 -1.18231813e+00 -1.23312074e+00]
 [ 1.62434536e+00 -5.28171752e-01 -6.11756414e-01]
 [ 3.50545979e-01 -3.86955093e-02 -1.31228341e+00]
 [ 1.60037069e-01  3.15634947e-01  8.76168921e-01]
 [ 2.44936865e+00 -1.98837863e-01 -5.45774168e-01]
 [-3.52249846e-01 -3.49342722e-01 -1.14251820e+00]
 [ 1.20158952e-01  3.00170320e-01  6.17203110e-01]
 [-1.23005814e+00  7.92806866e-01  5.50537496e-01]
 [-2.46169559e-02  1.27375593e+00 -7.75161619e-01]
 [ 2.62467445e-01 -7.33271604e-01  2.76499305e-01]
 [ 1.62765075e+00 -1.19926803e+00  3.38011697e-01]
 [-7.31127037e-02  3.69492716e-01  1.16033857e+00]
 [ 6.18539131e-01  1.81053491e+00 -4.43171931e-01]
 [-1.39662042e+00  6.74711526e-01 -8.61316361e-01]
 [-4.98213564e-01 -1.89148284e-03 -3.10984978e-01]
 [-1.62743834e+00  4.20282204e-01  6.02319280e-01]
 [-8.45205641e-01 -1.26645989e-02 -6.71246131e-01]
 [-3.26499498e-01  1.11438298e+00 -1.34267579e+00]
 [ 9.31102081e-01  8.85141164e-01  2.85587325e-01]
 [ 8.63345318e-01 -6.03920628e-01 -1.80920302e-01]
 [-2.00758069e-01  4.10051647e-01  1.86561391e-01]
 [ 1.98299720e-01 -6.70662286e-01  1.19008646e-01]
 [ 5.29465324e-01  7.78211279e-02  1.37701210e-01]
 [-5.86523939e-01  8.75838928e-01 -1.23685338e+00]
 [-6.36995647e-01  2.10025514e+00  1.90915485e-01]
 [-5.68244809e-02 -6.80678141e-01  4.92336556e-01]
 [-6.23530730e-01 -1.14434139e+00  5.20576337e-01]
 [ 6.18380262e-01  6.82551407e-01  2.32494559e-01]
 [-6.38730407e-01  7.73400683e-02  4.23494354e-01]
 [-1.36444744e-01  1.74094083e-02 -1.19054188e-01]
 [ 1.34048197e-01  2.84748111e-01  1.20205486e+00]
 [ 3.77563786e-01  1.12948391e+00  1.21821271e-01]
 [-2.08894233e-01  8.38983414e-01  5.86623191e-01]
 [-1.44087602e+00 -2.54179868e-01  1.23225307e+00]
 [ 7.84770651e-01  5.85910431e-01 -9.55425262e-01]
 [ 9.54250872e-02  6.07501958e-02  9.21450069e-01]
 [ 8.84908814e-01 -8.67787223e-01 -8.77281519e-01]
 [-1.09989127e+00 -8.77858418e-01 -1.72428208e-01]
 [ 1.13162939e+00  2.18557541e+00  1.51981682e+00]
 [ 1.19891788e+00 -3.75284950e-01  1.85156417e-01]
 [-1.11647002e+00 -1.86578994e-01  8.09271010e-02]
 [ 2.18697965e+00 -1.00155233e-01  4.41364444e-01]
 [ 5.62761097e-01  2.80665077e-01  2.40737092e-01]
 [-7.00398505e-01  2.42669441e-01 -2.03394449e-01]]
 Target : [ -10.37865986   25.5124503    19.67705609  149.50205427 -121.65210879
   90.29412996  214.01379719  224.74157328  -73.17331138 -195.62776209
  -52.49101402  201.80460524   20.27419601   89.16398784   -4.43979447
  -45.4775122    56.90170664  120.54902155  -66.21870151  -43.83850762
   34.28844887  -77.50879778  -26.91704015  197.19513885   64.4108542
  -58.24364135 -100.61171138  120.30838239 -324.6376023    11.80311373
 -178.33643388  -12.11793859  -25.22113932  162.27013301  101.22058681
  128.5378687   -21.93291701  141.56205532   70.77737306   42.75618757
 -129.88966784   75.63153631    7.75853852   27.82808415  -56.01743267
  -45.12995511   -4.79734991 -224.87997574  -74.02423583   32.47986763
 -145.77204264   70.44079726  131.09675782  152.75477314   -5.80729922
  126.03820644 -194.05903549  -16.07374331  -64.65855618   89.26813436
   56.81764512 -116.58860426   70.91442266   56.12941632   79.90072841
  -44.89655856  -27.11317814  100.82239274  180.75763303  -45.02977955
  -40.28966423    4.70983448  -77.6416384    17.78110239  145.36191106
  -32.14346413   42.56333581  -50.69469082   39.10805003  -11.1650345
  190.82721374  -41.2481516  -110.53993067  108.40348884    4.05845119
  -11.23037507  104.01543511  135.5604179   107.92408052  -17.16536951
   37.10456128   63.81909065  -97.80560038 -145.51888775  354.71399851
   26.60508124  -63.09743841  112.39944435   66.6482531   -18.76162201]