## TOknenization Continued

In [2]:
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [3]:
cv = CountVectorizer()

text_data = np.array(["I love programming.", "Programming loves me."])
bow = cv.fit_transform(text_data)

print(bow.toarray())

df = pd.DataFrame(bow.toarray(),columns=cv.get_feature_names_out())
print(df.head())

[[1 0 0 1]
 [0 1 1 1]]
   love  loves  me  programming
0     1      0   0            1
1     0      1   1            1

Count Vectorizer with NGRAM

In [4]:
cv = CountVectorizer(ngram_range=(1,2))

text_data = np.array(["I love programming.", "Programming loves me.", 
                      "The chat input can also be used inline by nesting it inside any layout container.",
                      "An optional tuple of args to pass to the callback."])
bow = cv.fit_transform(text_data)

print(bow.toarray())

print(cv.vocabulary_)

[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0
  0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0
  0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0]
 [1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 1 1 0
  0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 1]
 [0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
  1 1 1 1 1 0 0 1 1 0 2 1 1 1 1 0 0]]
{'love': 28, 'programming': 41, 'love programming': 29, 'loves': 30, 'me': 32, 'programming loves': 42, 'loves me': 31, 'the': 43, 'chat': 15, 'input': 20, 'can': 13, 'also': 0, 'be': 8, 'used': 51, 'inline': 18, 'by': 10, 'nesting': 33, 'it': 24, 'inside': 22, 'any': 4, 'layout': 26, 'container': 17, 'the chat': 45, 'chat input': 16, 'input can': 21, 'can also': 14, 'also be': 1, 'be used': 9, 'used inline': 52, 'inline by': 19, 'by nesting': 11, 'nesting it': 34, 'it inside': 25, 'inside any': 23, 'any layout': 5, 'layout container': 27, 'an': 2, 'optional': 37, 'tuple': 49, 'of': 35, 'args': 6, 'to': 46, 'pass': 39, 'callback': 12, 'an optional': 3, 'optional tuple': 38, 'tuple of': 50, 'of args': 36, 'args to': 7, 'to pass': 47, 'pass to': 40, 'to the': 48, 'the callback': 44}

In [5]:
df = pd.DataFrame(bow.toarray(),columns=cv.get_feature_names_out())
print(df.head())

   also  also be  an  an optional  any  any layout  args  args to  be  \
0     0        0   0            0    0           0     0        0   0
1     0        0   0            0    0           0     0        0   0
2     1        1   0            0    1           1     0        0   1
3     0        0   1            1    0           0     1        1   0

   be used  ...  the  the callback  the chat  to  to pass  to the  tuple  \
0        0  ...    0             0         0   0        0       0      0
1        0  ...    0             0         0   0        0       0      0
2        1  ...    1             0         1   0        0       0      0
3        0  ...    1             1         0   2        1       1      1

   tuple of  used  used inline
0         0     0            0
1         0     0            0
2         0     1            1
3         1     0            0

[4 rows x 53 columns]

## TFIDF

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tfidf = TfidfVectorizer()

feature_mat = tfidf.fit_transform(text_data)

In [8]:
df = pd.DataFrame(feature_mat.toarray(),columns=tfidf.get_feature_names_out())
df.head()

,also,an,any,args,be,by,callback,can,chat,container,...,me,nesting,of,optional,pass,programming,the,to,tuple,used
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.619130,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.617614,0.000000,0.000000,0.000000,0.000000,0.486934,0.000000,0.000000,0.000000,0.000000
2,0.261519,0.000000,0.261519,0.000000,0.261519,0.261519,0.000000,0.261519,0.261519,0.261519,...,0.000000,0.261519,0.000000,0.000000,0.000000,0.000000,0.206184,0.000000,0.000000,0.261519
3,0.000000,0.293337,0.000000,0.293337,0.000000,0.000000,0.293337,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.293337,0.293337,0.293337,0.000000,0.231270,0.586674,0.293337,0.000000

In [9]:
tfidf.vocabulary_

{'love': 15,
 'programming': 22,
 'loves': 16,
 'me': 17,
 'the': 23,
 'chat': 8,
 'input': 11,
 'can': 7,
 'also': 0,
 'be': 4,
 'used': 26,
 'inline': 10,
 'by': 5,
 'nesting': 18,
 'it': 13,
 'inside': 12,
 'any': 2,
 'layout': 14,
 'container': 9,
 'an': 1,
 'optional': 20,
 'tuple': 25,
 'of': 19,
 'args': 3,
 'to': 24,
 'pass': 21,
 'callback': 6}

In [10]:
tfidf = TfidfVectorizer(ngram_range=(2,3))

feature_mat = tfidf.fit_transform(text_data)

df = pd.DataFrame(feature_mat.toarray(),columns=tfidf.get_feature_names_out())
df.head()

,also be,also be used,an optional,an optional tuple,any layout,any layout container,args to,args to pass,be used,be used inline,...,the chat,the chat input,to pass,to pass to,to the,to the callback,tuple of,tuple of args,used inline,used inline by
0,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000
1,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000
2,0.19245,0.19245,0.000000,0.000000,0.19245,0.19245,0.000000,0.000000,0.19245,0.19245,...,0.19245,0.19245,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.19245,0.19245
3,0.00000,0.00000,0.242536,0.242536,0.00000,0.00000,0.242536,0.242536,0.00000,0.00000,...,0.00000,0.00000,0.242536,0.242536,0.242536,0.242536,0.242536,0.242536,0.00000,0.00000

In [11]:
import re

In [12]:
text = "The categorical cat hello mycat."
text1 = "Categorical cat hello mycat"

In [13]:
# Startig of a text.

print(re.findall(r"\AThe",text))
print(re.findall(r"\AThe",text1))

['The']
[]

In [14]:
# Starting of a word.

print(re.findall(r"\bcat",text))
print(re.findall(r"cat\b",text1))
print(re.findall(r"\bcat\b",text1))

['cat', 'cat']
['cat', 'cat']
['cat']

In [15]:
# return the index of specified patter
print(re.search(r"\bcat",text))

<re.Match object; span=(4, 7), match='cat'>

In [16]:
# get span of the all of the string.. 

span = re.finditer(r"\bcat",text)
for s in span:
    print(s.start())

4
16

## \B 

**Not at begining**

In [17]:
text1 = "This is an amazing classroom, every one speaks Engilish zizazo!"
text2 = "This is an good classroom, every one speaks Engilish zizxzd!!"

print(re.findall(r"\Bzi",text1))
print(re.findall(r"\Bzi",text2))

['zi']
[]

In [18]:
text = "This is an amazing classroom, every one speaks Engilish. THis is Highclass!!"
print(re.findall(r"\Bclass",text))


print(re.findall(r"\Bclass",text1))

['class']
[]

In [19]:
text = "This is an amazing classroom, every one speaks Engilish. THis is classy !!"
print(re.findall(r"class\B",text))

['class', 'class']

In [20]:
text = "This are two amazing class, every one speaks Engilish. THis is classy !!"
print(re.findall(r"\Bclass\B",text))

[]

In [21]:
text = "This are two amazing class, every one speaks Engilish. THis is classy !! 123 234 9845773992s people"
print(re.findall(r"\d{3}.\d{3}.\d+",text))

['123 234 9845773992']

\w : Everything expect white space

\W All special char

In [22]:
print(re.findall(r'\W',text))

[' ', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', '.', ' ', ' ', ' ', ' ', '!', '!', ' ', ' ', ' ', ' ']

In [23]:
print(" ".join(re.findall(r'\w+',text)))

This are two amazing class every one speaks Engilish THis is classy 123 234 9845773992s people

### \Z

In [24]:
print(re.findall(r'people\Z',text))

['people']

### [meta-characters]

In [25]:
result = re.findall(r'[m-q]',text)

print(result)

['o', 'm', 'n', 'o', 'n', 'p', 'n', 'p', 'o', 'p']

In [26]:
result = re.findall(r'[M-Q]',text)

print(result)

[]

In [27]:
result = re.findall(r'[a-z]+',text)

print(result)

['his', 'are', 'two', 'amazing', 'class', 'every', 'one', 'speaks', 'ngilish', 'is', 'is', 'classy', 's', 'people']

### \dot

In [28]:
result = re.findall(r'c....y',text)

print(result)

['classy']

## |

In [29]:
text = "This are two amazing class, every one speaks Engilish. THis is classy !! 123 234 9845773992s people"

result = re.findall(r'^T|^A',text)

print(result)

['T']

In [30]:
text = "This are two amazing class, every one speaks Engilish. THis is + classy !! 123 234 9845773992s people"

result = re.findall('[+]',text)

print(result)

['+']

## ?

In [31]:
text = "\yes 1:30   no 12:30  maybe  1:5 test me 12:5"

print(1, re.findall(r"(\d?\d):(\d?\d)",text))
print(1, re.findall(r"(\d\d):(\d\d)",text))
print(1, re.findall(r"(\d?):(\d\d)",text))
print(1, re.findall(r"(\d]d):(\d?\d)",text))

1 [('1', '30'), ('12', '30'), ('1', '5'), ('12', '5')]
1 [('12', '30')]
1 [('1', '30'), ('2', '30')]
1 []

<>:1: SyntaxWarning: invalid escape sequence '\y'
<>:1: SyntaxWarning: invalid escape sequence '\y'
/tmp/ipykernel_983/2638267064.py:1: SyntaxWarning: invalid escape sequence '\y'
  text = "\yes 1:30   no 12:30  maybe  1:5 test me 12:5"