In [1]:
import pymongo
from pymongo import MongoClient
client = MongoClient("mongodb://10.51.231.152:27017")

/home/rjn/.conda/envs/main_env/lib/python3.12/site-packages/requests/__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

In [2]:
db = client.test

In [3]:
db

Database(MongoClient(host=['10.51.231.152:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [4]:
employee = db.employee

In [5]:
employee

Collection(Database(MongoClient(host=['10.51.231.152:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'employee')

#### Inserting values

In [6]:
employee_details = {
    'Name':'Prajwal Luitel',
    "Address":"Toronto, ON, CA",
    "Age":"23"
}

In [7]:
result = employee.insert_one(employee_details)

In [8]:
result.inserted_id

ObjectId('668d4be31f898d64676073c7')

### Checking the database and the collection

In [9]:
client.list_database_names()

['admin', 'config', 'local', 'test']

In [10]:
dblist = client.list_database_names()
if "test" in dblist:
    print(f"The {'test'} is found !!")
else:
    print(f"The {'test'} is NOT found !!")

The test is found !!

In [11]:
db.list_collection_names()

['employee']

In [12]:
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists!!")

The employee collection exists!!

### Inserting multiple records

In [13]:
my_records = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address": "Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

employee.insert_many(my_records)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9], acknowledged=True)

In [14]:
x = employee.find_one()
print(x)

{'_id': ObjectId('668d4be31f898d64676073c7'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}

**Read Limit**

In [15]:
my_result = employee.find().sort("_id",-1).limit(2)

for x in my_result:
    print(x)

{'_id': ObjectId('668d4be31f898d64676073c7'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [16]:
next(iter(my_result))

StopIteration:

**Return only certain fields**

In [17]:
for x in employee.find({},{"_id":0,"name": 1, "address": 1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

In [18]:
for x in employee.find({},{"_id":0}):
    print(x)

{'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

In [19]:
my_query = {"address" : "Highway 37"}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

### Regex + Findall

In [20]:
my_query = {"address" : {"$regex": "^V"}}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [21]:
my_query = {"address" : {"$regex": "l"}}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

### $or

In [22]:

my_query = {"$or": [{"address" : {"$regex": "^Y"}},{"address" : {"$regex": "^V"}}]}

# or 
my_query = {"address" : {"$regex": "^Y|^V"}}


mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

### $and

In [23]:

my_query = {"$and": [{"address" : {"$regex": "^Y"}},{"address" : {"$regex": "1"}}]}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [24]:

my_query = {"$and": [{"address" : {"$regex": "^Y"}},{"address" : {"$regex": "1"}},{"name" : {"$regex": "^N"}}]}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

### NOT equal

In [25]:

my_query = {"$and": [{"address" : {"$regex": "^Y"}},{"address" : {"$regex": "1"}},{"name" : {"$ne": "Nicky"}}]}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

### $gt

In [26]:

my_query = {"address" : {"$gt": "S"}}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### $lt

In [27]:

my_query = {"address" : {"$lt": "S"}}

mydoc = employee.find(my_query)

for x in mydoc:
    
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

### sort

In [28]:
mydoc = employee.find().sort("name")

for x in mydoc:
    
    print(x)

{'_id': ObjectId('668d4be31f898d64676073c7'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [29]:

mydoc = employee.find().sort({"name" : 1, "address": 1}).limit(5)

for x in mydoc:
    
    print(x)

{'_id': ObjectId('668d4be31f898d64676073c7'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

## update a record

In [30]:
for x in employee.find():
    print(x)

{'_id': ObjectId('668d4be31f898d64676073c7'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [31]:
myquery = {"address":"Valley 345"}
newvalues = {"$set":{"address":"Canyon 123"}}

employee.update_one(myquery,newvalues)

for x in employee.find():
    print(x)

{'_id': ObjectId('668d4be31f898d64676073c7'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [32]:
myquery = {"address":{"$regex": "^C"}}

newvalues = {"$set":{"name":"Minnie"}}

x = employee.update_many(myquery,newvalues)

print(x.modified_count, "Documents Updated")

for x in employee.find():
    print(x)

2 Documents Updated
{'_id': ObjectId('668d4be31f898d64676073c7'), 'Name': 'Prajwal Luitel', 'Address': 'Toronto, ON, CA', 'Age': '23'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [33]:
# rename collection name from employee to employee_details 
# update employee to employee_address
# delete the field name all records

**delete**

In [34]:
del_query = {"address" : "Mountain 21" }
employee.delete_one(my_query)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

**delete many**

In [35]:
my_query = {"address" : {"$regex": "^Y"}}

x = employee.delete_many(my_query)

print(x.deleted_count, "documents deleted")

3 documents deleted

In [36]:
x = employee.delete_many({})
print(x.deleted_count, "documents deleted")

6 documents deleted