In [100]:
x = [1,2,3,4,1,5,6,7,8,9,10,11,12]

In [101]:
from itertools import combinations

In [102]:
possible_combinations = combinations(x,4)
for x in possible_combinations:
    print(x)

(1, 2, 3, 4)
(1, 2, 3, 1)
(1, 2, 3, 5)
(1, 2, 3, 6)
(1, 2, 3, 7)
(1, 2, 3, 8)
(1, 2, 3, 9)
(1, 2, 3, 10)
(1, 2, 3, 11)
(1, 2, 3, 12)
(1, 2, 4, 1)
(1, 2, 4, 5)
(1, 2, 4, 6)
(1, 2, 4, 7)
(1, 2, 4, 8)
(1, 2, 4, 9)
(1, 2, 4, 10)
(1, 2, 4, 11)
(1, 2, 4, 12)
(1, 2, 1, 5)
(1, 2, 1, 6)
(1, 2, 1, 7)
(1, 2, 1, 8)
(1, 2, 1, 9)
(1, 2, 1, 10)
(1, 2, 1, 11)
(1, 2, 1, 12)
(1, 2, 5, 6)
(1, 2, 5, 7)
(1, 2, 5, 8)
(1, 2, 5, 9)
(1, 2, 5, 10)
(1, 2, 5, 11)
(1, 2, 5, 12)
(1, 2, 6, 7)
(1, 2, 6, 8)
(1, 2, 6, 9)
(1, 2, 6, 10)
(1, 2, 6, 11)
(1, 2, 6, 12)
(1, 2, 7, 8)
(1, 2, 7, 9)
(1, 2, 7, 10)
(1, 2, 7, 11)
(1, 2, 7, 12)
(1, 2, 8, 9)
(1, 2, 8, 10)
(1, 2, 8, 11)
(1, 2, 8, 12)
(1, 2, 9, 10)
(1, 2, 9, 11)
(1, 2, 9, 12)
(1, 2, 10, 11)
(1, 2, 10, 12)
(1, 2, 11, 12)
(1, 3, 4, 1)
(1, 3, 4, 5)
(1, 3, 4, 6)
(1, 3, 4, 7)
(1, 3, 4, 8)
(1, 3, 4, 9)
(1, 3, 4, 10)
(1, 3, 4, 11)
(1, 3, 4, 12)
(1, 3, 1, 5)
(1, 3, 1, 6)
(1, 3, 1, 7)
(1, 3, 1, 8)
(1, 3, 1, 9)
(1, 3, 1, 10)
(1, 3, 1, 11)
(1, 3, 1, 12)
(1, 3, 5, 6)
(1, 3, 5, 7)
(1, 3, 5, 8)
(1, 3, 5, 9)
(1, 3, 5, 10)
(1, 3, 5, 11)
(1, 3, 5, 12)
(1, 3, 6, 7)
(1, 3, 6, 8)
(1, 3, 6, 9)
(1, 3, 6, 10)
(1, 3, 6, 11)
(1, 3, 6, 12)
(1, 3, 7, 8)
(1, 3, 7, 9)
(1, 3, 7, 10)
(1, 3, 7, 11)
(1, 3, 7, 12)
(1, 3, 8, 9)
(1, 3, 8, 10)
(1, 3, 8, 11)
(1, 3, 8, 12)
(1, 3, 9, 10)
(1, 3, 9, 11)
(1, 3, 9, 12)
(1, 3, 10, 11)
(1, 3, 10, 12)
(1, 3, 11, 12)
(1, 4, 1, 5)
(1, 4, 1, 6)
(1, 4, 1, 7)
(1, 4, 1, 8)
(1, 4, 1, 9)
(1, 4, 1, 10)
(1, 4, 1, 11)
(1, 4, 1, 12)
(1, 4, 5, 6)
(1, 4, 5, 7)
(1, 4, 5, 8)
(1, 4, 5, 9)
(1, 4, 5, 10)
(1, 4, 5, 11)
(1, 4, 5, 12)
(1, 4, 6, 7)
(1, 4, 6, 8)
(1, 4, 6, 9)
(1, 4, 6, 10)
(1, 4, 6, 11)
(1, 4, 6, 12)
(1, 4, 7, 8)
(1, 4, 7, 9)
(1, 4, 7, 10)
(1, 4, 7, 11)
(1, 4, 7, 12)
(1, 4, 8, 9)
(1, 4, 8, 10)
(1, 4, 8, 11)
(1, 4, 8, 12)
(1, 4, 9, 10)
(1, 4, 9, 11)
(1, 4, 9, 12)
(1, 4, 10, 11)
(1, 4, 10, 12)
(1, 4, 11, 12)
(1, 1, 5, 6)
(1, 1, 5, 7)
(1, 1, 5, 8)
(1, 1, 5, 9)
(1, 1, 5, 10)
(1, 1, 5, 11)
(1, 1, 5, 12)
(1, 1, 6, 7)
(1, 1, 6, 8)
(1, 1, 6, 9)
(1, 1, 6, 10)
(1, 1, 6, 11)
(1, 1, 6, 12)
(1, 1, 7, 8)
(1, 1, 7, 9)
(1, 1, 7, 10)
(1, 1, 7, 11)
(1, 1, 7, 12)
(1, 1, 8, 9)
(1, 1, 8, 10)
(1, 1, 8, 11)
(1, 1, 8, 12)
(1, 1, 9, 10)
(1, 1, 9, 11)
(1, 1, 9, 12)
(1, 1, 10, 11)
(1, 1, 10, 12)
(1, 1, 11, 12)
(1, 5, 6, 7)
(1, 5, 6, 8)
(1, 5, 6, 9)
(1, 5, 6, 10)
(1, 5, 6, 11)
(1, 5, 6, 12)
(1, 5, 7, 8)
(1, 5, 7, 9)
(1, 5, 7, 10)
(1, 5, 7, 11)
(1, 5, 7, 12)
(1, 5, 8, 9)
(1, 5, 8, 10)
(1, 5, 8, 11)
(1, 5, 8, 12)
(1, 5, 9, 10)
(1, 5, 9, 11)
(1, 5, 9, 12)
(1, 5, 10, 11)
(1, 5, 10, 12)
(1, 5, 11, 12)
(1, 6, 7, 8)
(1, 6, 7, 9)
(1, 6, 7, 10)
(1, 6, 7, 11)
(1, 6, 7, 12)
(1, 6, 8, 9)
(1, 6, 8, 10)
(1, 6, 8, 11)
(1, 6, 8, 12)
(1, 6, 9, 10)
(1, 6, 9, 11)
(1, 6, 9, 12)
(1, 6, 10, 11)
(1, 6, 10, 12)
(1, 6, 11, 12)
(1, 7, 8, 9)
(1, 7, 8, 10)
(1, 7, 8, 11)
(1, 7, 8, 12)
(1, 7, 9, 10)
(1, 7, 9, 11)
(1, 7, 9, 12)
(1, 7, 10, 11)
(1, 7, 10, 12)
(1, 7, 11, 12)
(1, 8, 9, 10)
(1, 8, 9, 11)
(1, 8, 9, 12)
(1, 8, 10, 11)
(1, 8, 10, 12)
(1, 8, 11, 12)
(1, 9, 10, 11)
(1, 9, 10, 12)
(1, 9, 11, 12)
(1, 10, 11, 12)
(2, 3, 4, 1)
(2, 3, 4, 5)
(2, 3, 4, 6)
(2, 3, 4, 7)
(2, 3, 4, 8)
(2, 3, 4, 9)
(2, 3, 4, 10)
(2, 3, 4, 11)
(2, 3, 4, 12)
(2, 3, 1, 5)
(2, 3, 1, 6)
(2, 3, 1, 7)
(2, 3, 1, 8)
(2, 3, 1, 9)
(2, 3, 1, 10)
(2, 3, 1, 11)
(2, 3, 1, 12)
(2, 3, 5, 6)
(2, 3, 5, 7)
(2, 3, 5, 8)
(2, 3, 5, 9)
(2, 3, 5, 10)
(2, 3, 5, 11)
(2, 3, 5, 12)
(2, 3, 6, 7)
(2, 3, 6, 8)
(2, 3, 6, 9)
(2, 3, 6, 10)
(2, 3, 6, 11)
(2, 3, 6, 12)
(2, 3, 7, 8)
(2, 3, 7, 9)
(2, 3, 7, 10)
(2, 3, 7, 11)
(2, 3, 7, 12)
(2, 3, 8, 9)
(2, 3, 8, 10)
(2, 3, 8, 11)
(2, 3, 8, 12)
(2, 3, 9, 10)
(2, 3, 9, 11)
(2, 3, 9, 12)
(2, 3, 10, 11)
(2, 3, 10, 12)
(2, 3, 11, 12)
(2, 4, 1, 5)
(2, 4, 1, 6)
(2, 4, 1, 7)
(2, 4, 1, 8)
(2, 4, 1, 9)
(2, 4, 1, 10)
(2, 4, 1, 11)
(2, 4, 1, 12)
(2, 4, 5, 6)
(2, 4, 5, 7)
(2, 4, 5, 8)
(2, 4, 5, 9)
(2, 4, 5, 10)
(2, 4, 5, 11)
(2, 4, 5, 12)
(2, 4, 6, 7)
(2, 4, 6, 8)
(2, 4, 6, 9)
(2, 4, 6, 10)
(2, 4, 6, 11)
(2, 4, 6, 12)
(2, 4, 7, 8)
(2, 4, 7, 9)
(2, 4, 7, 10)
(2, 4, 7, 11)
(2, 4, 7, 12)
(2, 4, 8, 9)
(2, 4, 8, 10)
(2, 4, 8, 11)
(2, 4, 8, 12)
(2, 4, 9, 10)
(2, 4, 9, 11)
(2, 4, 9, 12)
(2, 4, 10, 11)
(2, 4, 10, 12)
(2, 4, 11, 12)
(2, 1, 5, 6)
(2, 1, 5, 7)
(2, 1, 5, 8)
(2, 1, 5, 9)
(2, 1, 5, 10)
(2, 1, 5, 11)
(2, 1, 5, 12)
(2, 1, 6, 7)
(2, 1, 6, 8)
(2, 1, 6, 9)
(2, 1, 6, 10)
(2, 1, 6, 11)
(2, 1, 6, 12)
(2, 1, 7, 8)
(2, 1, 7, 9)
(2, 1, 7, 10)
(2, 1, 7, 11)
(2, 1, 7, 12)
(2, 1, 8, 9)
(2, 1, 8, 10)
(2, 1, 8, 11)
(2, 1, 8, 12)
(2, 1, 9, 10)
(2, 1, 9, 11)
(2, 1, 9, 12)
(2, 1, 10, 11)
(2, 1, 10, 12)
(2, 1, 11, 12)
(2, 5, 6, 7)
(2, 5, 6, 8)
(2, 5, 6, 9)
(2, 5, 6, 10)
(2, 5, 6, 11)
(2, 5, 6, 12)
(2, 5, 7, 8)
(2, 5, 7, 9)
(2, 5, 7, 10)
(2, 5, 7, 11)
(2, 5, 7, 12)
(2, 5, 8, 9)
(2, 5, 8, 10)
(2, 5, 8, 11)
(2, 5, 8, 12)
(2, 5, 9, 10)
(2, 5, 9, 11)
(2, 5, 9, 12)
(2, 5, 10, 11)
(2, 5, 10, 12)
(2, 5, 11, 12)
(2, 6, 7, 8)
(2, 6, 7, 9)
(2, 6, 7, 10)
(2, 6, 7, 11)
(2, 6, 7, 12)
(2, 6, 8, 9)
(2, 6, 8, 10)
(2, 6, 8, 11)
(2, 6, 8, 12)
(2, 6, 9, 10)
(2, 6, 9, 11)
(2, 6, 9, 12)
(2, 6, 10, 11)
(2, 6, 10, 12)
(2, 6, 11, 12)
(2, 7, 8, 9)
(2, 7, 8, 10)
(2, 7, 8, 11)
(2, 7, 8, 12)
(2, 7, 9, 10)
(2, 7, 9, 11)
(2, 7, 9, 12)
(2, 7, 10, 11)
(2, 7, 10, 12)
(2, 7, 11, 12)
(2, 8, 9, 10)
(2, 8, 9, 11)
(2, 8, 9, 12)
(2, 8, 10, 11)
(2, 8, 10, 12)
(2, 8, 11, 12)
(2, 9, 10, 11)
(2, 9, 10, 12)
(2, 9, 11, 12)
(2, 10, 11, 12)
(3, 4, 1, 5)
(3, 4, 1, 6)
(3, 4, 1, 7)
(3, 4, 1, 8)
(3, 4, 1, 9)
(3, 4, 1, 10)
(3, 4, 1, 11)
(3, 4, 1, 12)
(3, 4, 5, 6)
(3, 4, 5, 7)
(3, 4, 5, 8)
(3, 4, 5, 9)
(3, 4, 5, 10)
(3, 4, 5, 11)
(3, 4, 5, 12)
(3, 4, 6, 7)
(3, 4, 6, 8)
(3, 4, 6, 9)
(3, 4, 6, 10)
(3, 4, 6, 11)
(3, 4, 6, 12)
(3, 4, 7, 8)
(3, 4, 7, 9)
(3, 4, 7, 10)
(3, 4, 7, 11)
(3, 4, 7, 12)
(3, 4, 8, 9)
(3, 4, 8, 10)
(3, 4, 8, 11)
(3, 4, 8, 12)
(3, 4, 9, 10)
(3, 4, 9, 11)
(3, 4, 9, 12)
(3, 4, 10, 11)
(3, 4, 10, 12)
(3, 4, 11, 12)
(3, 1, 5, 6)
(3, 1, 5, 7)
(3, 1, 5, 8)
(3, 1, 5, 9)
(3, 1, 5, 10)
(3, 1, 5, 11)
(3, 1, 5, 12)
(3, 1, 6, 7)
(3, 1, 6, 8)
(3, 1, 6, 9)
(3, 1, 6, 10)
(3, 1, 6, 11)
(3, 1, 6, 12)
(3, 1, 7, 8)
(3, 1, 7, 9)
(3, 1, 7, 10)
(3, 1, 7, 11)
(3, 1, 7, 12)
(3, 1, 8, 9)
(3, 1, 8, 10)
(3, 1, 8, 11)
(3, 1, 8, 12)
(3, 1, 9, 10)
(3, 1, 9, 11)
(3, 1, 9, 12)
(3, 1, 10, 11)
(3, 1, 10, 12)
(3, 1, 11, 12)
(3, 5, 6, 7)
(3, 5, 6, 8)
(3, 5, 6, 9)
(3, 5, 6, 10)
(3, 5, 6, 11)
(3, 5, 6, 12)
(3, 5, 7, 8)
(3, 5, 7, 9)
(3, 5, 7, 10)
(3, 5, 7, 11)
(3, 5, 7, 12)
(3, 5, 8, 9)
(3, 5, 8, 10)
(3, 5, 8, 11)
(3, 5, 8, 12)
(3, 5, 9, 10)
(3, 5, 9, 11)
(3, 5, 9, 12)
(3, 5, 10, 11)
(3, 5, 10, 12)
(3, 5, 11, 12)
(3, 6, 7, 8)
(3, 6, 7, 9)
(3, 6, 7, 10)
(3, 6, 7, 11)
(3, 6, 7, 12)
(3, 6, 8, 9)
(3, 6, 8, 10)
(3, 6, 8, 11)
(3, 6, 8, 12)
(3, 6, 9, 10)
(3, 6, 9, 11)
(3, 6, 9, 12)
(3, 6, 10, 11)
(3, 6, 10, 12)
(3, 6, 11, 12)
(3, 7, 8, 9)
(3, 7, 8, 10)
(3, 7, 8, 11)
(3, 7, 8, 12)
(3, 7, 9, 10)
(3, 7, 9, 11)
(3, 7, 9, 12)
(3, 7, 10, 11)
(3, 7, 10, 12)
(3, 7, 11, 12)
(3, 8, 9, 10)
(3, 8, 9, 11)
(3, 8, 9, 12)
(3, 8, 10, 11)
(3, 8, 10, 12)
(3, 8, 11, 12)
(3, 9, 10, 11)
(3, 9, 10, 12)
(3, 9, 11, 12)
(3, 10, 11, 12)
(4, 1, 5, 6)
(4, 1, 5, 7)
(4, 1, 5, 8)
(4, 1, 5, 9)
(4, 1, 5, 10)
(4, 1, 5, 11)
(4, 1, 5, 12)
(4, 1, 6, 7)
(4, 1, 6, 8)
(4, 1, 6, 9)
(4, 1, 6, 10)
(4, 1, 6, 11)
(4, 1, 6, 12)
(4, 1, 7, 8)
(4, 1, 7, 9)
(4, 1, 7, 10)
(4, 1, 7, 11)
(4, 1, 7, 12)
(4, 1, 8, 9)
(4, 1, 8, 10)
(4, 1, 8, 11)
(4, 1, 8, 12)
(4, 1, 9, 10)
(4, 1, 9, 11)
(4, 1, 9, 12)
(4, 1, 10, 11)
(4, 1, 10, 12)
(4, 1, 11, 12)
(4, 5, 6, 7)
(4, 5, 6, 8)
(4, 5, 6, 9)
(4, 5, 6, 10)
(4, 5, 6, 11)
(4, 5, 6, 12)
(4, 5, 7, 8)
(4, 5, 7, 9)
(4, 5, 7, 10)
(4, 5, 7, 11)
(4, 5, 7, 12)
(4, 5, 8, 9)
(4, 5, 8, 10)
(4, 5, 8, 11)
(4, 5, 8, 12)
(4, 5, 9, 10)
(4, 5, 9, 11)
(4, 5, 9, 12)
(4, 5, 10, 11)
(4, 5, 10, 12)
(4, 5, 11, 12)
(4, 6, 7, 8)
(4, 6, 7, 9)
(4, 6, 7, 10)
(4, 6, 7, 11)
(4, 6, 7, 12)
(4, 6, 8, 9)
(4, 6, 8, 10)
(4, 6, 8, 11)
(4, 6, 8, 12)
(4, 6, 9, 10)
(4, 6, 9, 11)
(4, 6, 9, 12)
(4, 6, 10, 11)
(4, 6, 10, 12)
(4, 6, 11, 12)
(4, 7, 8, 9)
(4, 7, 8, 10)
(4, 7, 8, 11)
(4, 7, 8, 12)
(4, 7, 9, 10)
(4, 7, 9, 11)
(4, 7, 9, 12)
(4, 7, 10, 11)
(4, 7, 10, 12)
(4, 7, 11, 12)
(4, 8, 9, 10)
(4, 8, 9, 11)
(4, 8, 9, 12)
(4, 8, 10, 11)
(4, 8, 10, 12)
(4, 8, 11, 12)
(4, 9, 10, 11)
(4, 9, 10, 12)
(4, 9, 11, 12)
(4, 10, 11, 12)
(1, 5, 6, 7)
(1, 5, 6, 8)
(1, 5, 6, 9)
(1, 5, 6, 10)
(1, 5, 6, 11)
(1, 5, 6, 12)
(1, 5, 7, 8)
(1, 5, 7, 9)
(1, 5, 7, 10)
(1, 5, 7, 11)
(1, 5, 7, 12)
(1, 5, 8, 9)
(1, 5, 8, 10)
(1, 5, 8, 11)
(1, 5, 8, 12)
(1, 5, 9, 10)
(1, 5, 9, 11)
(1, 5, 9, 12)
(1, 5, 10, 11)
(1, 5, 10, 12)
(1, 5, 11, 12)
(1, 6, 7, 8)
(1, 6, 7, 9)
(1, 6, 7, 10)
(1, 6, 7, 11)
(1, 6, 7, 12)
(1, 6, 8, 9)
(1, 6, 8, 10)
(1, 6, 8, 11)
(1, 6, 8, 12)
(1, 6, 9, 10)
(1, 6, 9, 11)
(1, 6, 9, 12)
(1, 6, 10, 11)
(1, 6, 10, 12)
(1, 6, 11, 12)
(1, 7, 8, 9)
(1, 7, 8, 10)
(1, 7, 8, 11)
(1, 7, 8, 12)
(1, 7, 9, 10)
(1, 7, 9, 11)
(1, 7, 9, 12)
(1, 7, 10, 11)
(1, 7, 10, 12)
(1, 7, 11, 12)
(1, 8, 9, 10)
(1, 8, 9, 11)
(1, 8, 9, 12)
(1, 8, 10, 11)
(1, 8, 10, 12)
(1, 8, 11, 12)
(1, 9, 10, 11)
(1, 9, 10, 12)
(1, 9, 11, 12)
(1, 10, 11, 12)
(5, 6, 7, 8)
(5, 6, 7, 9)
(5, 6, 7, 10)
(5, 6, 7, 11)
(5, 6, 7, 12)
(5, 6, 8, 9)
(5, 6, 8, 10)
(5, 6, 8, 11)
(5, 6, 8, 12)
(5, 6, 9, 10)
(5, 6, 9, 11)
(5, 6, 9, 12)
(5, 6, 10, 11)
(5, 6, 10, 12)
(5, 6, 11, 12)
(5, 7, 8, 9)
(5, 7, 8, 10)
(5, 7, 8, 11)
(5, 7, 8, 12)
(5, 7, 9, 10)
(5, 7, 9, 11)
(5, 7, 9, 12)
(5, 7, 10, 11)
(5, 7, 10, 12)
(5, 7, 11, 12)
(5, 8, 9, 10)
(5, 8, 9, 11)
(5, 8, 9, 12)
(5, 8, 10, 11)
(5, 8, 10, 12)
(5, 8, 11, 12)
(5, 9, 10, 11)
(5, 9, 10, 12)
(5, 9, 11, 12)
(5, 10, 11, 12)
(6, 7, 8, 9)
(6, 7, 8, 10)
(6, 7, 8, 11)
(6, 7, 8, 12)
(6, 7, 9, 10)
(6, 7, 9, 11)
(6, 7, 9, 12)
(6, 7, 10, 11)
(6, 7, 10, 12)
(6, 7, 11, 12)
(6, 8, 9, 10)
(6, 8, 9, 11)
(6, 8, 9, 12)
(6, 8, 10, 11)
(6, 8, 10, 12)
(6, 8, 11, 12)
(6, 9, 10, 11)
(6, 9, 10, 12)
(6, 9, 11, 12)
(6, 10, 11, 12)
(7, 8, 9, 10)
(7, 8, 9, 11)
(7, 8, 9, 12)
(7, 8, 10, 11)
(7, 8, 10, 12)
(7, 8, 11, 12)
(7, 9, 10, 11)
(7, 9, 10, 12)
(7, 9, 11, 12)
(7, 10, 11, 12)
(8, 9, 10, 11)
(8, 9, 10, 12)
(8, 9, 11, 12)
(8, 10, 11, 12)
(9, 10, 11, 12)

In [103]:
divmod(11,10)

(1, 1)

In [104]:
def add_digits(x : int):
    
    while divmod(x,10)[1] != x:
        digits = list(map(int,str(x)))    
        x = sum(digits)
        
        
    return x

In [105]:
add_digits(10)

1

In [106]:
int((16)**0.5)

4

In [107]:
from typing import Union, List, Tuple
def check_geometric_progression(input_array : Union[List, Tuple])-> bool:
    
    # check length of input array if 1 , return False 
    if len(input_array)  < 2: return False 
    
    # calculate the ratio 
    ratio = input_array[1] / input_array[0]
    
    # check between every two elements 
    for i in range(1,len(input_array)):
        
        if input_array[i] / input_array[i-1] != ratio:
            
            return False
        
        
    return True

In [108]:
check_geometric_progression([2, 5, 10, 20])

False

In [109]:
def reverse_int(number : int):
    
    # check if the digit is positive or negative 
    negative = True if number < 0 else False
    
    reversed_str = int(str(abs(number))[::-1])
    
    return -1 * reversed_str if negative else reversed_str

In [110]:
reverse_int(-123)

-321

In [111]:
def number_to_roman(int_value : int): 
    
    assert isinstance(int_value, int), "Please provide integer only."
    
    mapping = {
                 "I" : 1, 
                 "IV" : 4, 
                 "V" : 5,
                 "IX" : 9, 
                 "X" : 10, 
                 "XL" : 40, 
                 "L" : 50, 
                 "XC" : 90, 
                 "C" : 100, 
                 "CD" : 400, 
                 "D" : 500, 
                 "CM" : 900, 
                 "M" : 1000
               }
    
    mapping = {k : v for k , v in sorted(mapping.items(), key= lambda x : x[1], reverse=True) }
    
    result = ""
    for k , v in mapping.items():
      
      q, r = divmod(int_value, v)
      
      result += (k * q)
      
      int_value = r
      
      
    return result
  
  
  
def roman_to_number(s : str) -> int:
  
  mapping = {
  "I" : 1, 
  "V" : 5,
  "X" : 10, 
  "L" : 50, 
  "C" : 100, 
  "D" : 500, 
  "M" : 1000
  }
  
  result = 0
  for i in range(len(s)):
      
      if i + 1 < len(s) and  mapping[s[i]] < mapping[s[i+1]]:    
          result -= mapping[s[i]]          
      else:
          result += mapping[s[i]]
  return result

In [112]:
number_to_roman(825)

'DCCCXXV'

In [113]:
roman_to_number("DCCCXXV")

825

In [114]:
def find_permutations(s, t):
    s_m = {}
    t_m = {}
    # num_index_mapping
    for i , (s_, t_) in enumerate(zip(list(s), list(t))):
        s_m[str(s_)] = i
        t_m[str(t_)] = i
    
    diff = 0
    
    for k, v in t_m.items():
        
        v_s = s_m.get(k,0)
        
        diff += abs(v_s -v)
        
    
    return diff

s = "abcde" 
t = "edbac"
find_permutations(s,t)

12

In [115]:
for i , (x,y) in enumerate(zip([1,2,3],[3,2,1])):
    print(x,y)

1 3
2 2
3 1

In [116]:
import re
re.sub(r"\.","[.]","1.1.1.1")

'1[.]1[.]1[.]1'

In [118]:
text = "Rajans phone number is 4374383992 or (437)-438-3992 +1-4374383992 437.438.3992"

# pattern = r"\d+"
pattern = r"(\+\d{1,3})?[-\._]?\(?\d{3}\)?[-\._]?\d{3}[-\._]?\d{4}"
result = re.finditer(pattern,text)

for r in result:
    print(r.group())

4374383992
(437)-438-3992
+1-4374383992
437.438.3992

In [140]:
sample_string = "Visit https://www.example.com/path?query=123&lang=en or http://short.url or www.google.com"

# pattern = r"\d+"
pattern = r"\b(https?:\/\/)?(www\.)?\w+\.\w{3}(\/\S+)?\b"
result = re.finditer(pattern,sample_string)

for r in result:
    print(r.group())

https://www.example.com/path?query=123&lang=en
http://short.url
www.google.com

In [146]:
# pattern = r"\d+"
sample_string = "fucking fuck ducking"
pattern = r"\w+(?!ing)"
result = re.finditer(pattern,sample_string)

for r in result:
    print(r.group())

fucking
fuck
ducking

In [149]:
"rajan".__contains__("z")

False

In [154]:
def balanced_string(s):
    
    r_c , l_c , counter = 0,0,0
    
    for c in s:
        if c == "R" : r_c += 1
        if c == "L" : l_c += 1
        
        if r_c == l_c:
            counter += 1
            
    return counter

balanced_string("LLLLRRRR")

1

In [165]:
def reversePrefix(word: str, ch: str) -> str:
    
    # get the index of the character
    try: 
        index = word.index(ch)
        
        spiltted_f, spiltted_b  = word[:index+1], word[index+1:]
        
        return spiltted_f[::-1] + spiltted_b
        
    except ValueError as v:
        return word

In [157]:
"rajan".index('z')

ValueError: substring not found

In [159]:
"abcdefd".index("d")

3

In [163]:
"abcdefd"[:4][::-1]

'dcba'

In [164]:
"abcdefd"[4:]

'efd'

In [169]:
def string_repeater(s : str):
    final = ""
    
    for i, char in enumerate(s):
        
        final_len = len(final)
        final += (final_len+2) * char 
        
        
    print(final)
    

string_repeater(s="Rajan")

RRaaaajjjjjjjjaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn

In [201]:
def longest_common_prefix(strs):
    smallest = min(strs, key=len)
    for i in range(len(smallest)): 
        for word in strs:
            print(smallest[i], word)
            if smallest[i] != word[i]:
                return smallest[:i]

In [205]:
strs = ["flower","flow","flight"]
longest_common_prefix(strs)

f flower
f flow
f flight
l flower
l flow
l flight
o flower
o flow
o flight

'fl'

In [203]:
smallest = sorted(strs, key=len)[0]
print(smallest)

flow

In [204]:
min(strs, key=len)

'flow'

In [206]:
text = "I am Rajan. Rajan is a man."

In [210]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize

In [5]:
import sqlite3 
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

In [6]:
SQL = """
CREATE TABLE IF NOT EXISTS RAJAN( 
NAME CHAR(20),
AGE INT
);
"""

cursor.execute(SQL)
conn.commit()

In [9]:
INTERT = """
INSERT INTO RAJAN (NAME, AGE)
VALUES (?,?)
"""
cursor.execute(INTERT,("Rajj",20))

In [12]:
SELECT = "SELECT * FROM RAJAN WHERE AGE = ?"
res = cursor.execute(SELECT,("20",))
res = cursor.fetchone()
print(res)

('Rajj', 20)

In [14]:
UPDATE = """
UPDATE RAJAN 
SET AGE = ? 
WHERE NAME = ?

"""
res = cursor.execute(UPDATE, (69,"RAJAN"))

In [15]:
import pandas as pd

# create a sample dataset
df = pd.DataFrame({
    'gender': ['male', 'male', 'female', 'female', 'male', 'female', 'male', 'female'],
    'education_level': ['high school', 'college', 'college', 'graduate', 'high school', 'graduate', 'college', 'graduate'],
    'score': [75, 82, 88, 95, 69, 92, 78, 85]
})
df

   gender education_level  score
0    male     high school     75
1    male         college     82
2  female         college     88
3  female        graduate     95
4    male     high school     69
5  female        graduate     92
6    male         college     78
7  female        graduate     85

In [23]:
pd.crosstab(index=df.gender, columns=df.education_level, values=df.score, aggfunc="mean",normalize="index")

education_level   college  graduate  high school
gender
female           0.492537  0.507463     0.000000
male             0.526316  0.000000     0.473684

In [24]:
from pymongo import MongoClient

In [29]:
client = MongoClient("mongodb://172.24.0.1:27017")

In [30]:
database = client.list_database_names()
print(database)

['admin', 'config', 'local', 'test']

In [32]:
# use the db 
database = client["test"]

In [33]:
database.list_collection_names()

['employee', 'exam_prep_explicit', 'exam_prep']

In [34]:
# create a new collection 
collection = database["final_prep"]

In [35]:
employee_details = {
    'Name':'Prajwal Luitel',
    "Address":"Toronto, ON, CA",
    "Age":"23"
}

result = collection.insert_one(employee_details)

In [42]:
collection.find_one({"name": "Viola"},{"_id" : 0})

{'name': 'Viola', 'address': 'Sideway Ave'}

In [60]:

query = {
    
    "$and" : [
        
        {"_id" : {"$gt" : 1, "$lte" : 7}},
        {"name": {"$regex": "^N[a-z]+"}}
    ]
}

cur = collection.find(query)

for r in cur:
    print(r)

{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

In [4]:
x = [7,1,5,3,6,4]

def best_profit( x : list) -> int: 
    
    """_summary_
    """
    
    # define two variables 
    min_invest = float("inf")
    max_profit = 0
    
    for i in range( len(x)- 1):
        
        # check if the current gives min investement 
        if min_invest > x[i]:
            min_invest = x[i]
            
        if (x[i] - min_invest) > max_profit:
            max_profit = (x[i] - min_invest)
            
    
    return max_profit
            
best_profit(x)

5

In [8]:
def find_summary_range(input_list : list) -> list: 
    
    
    i = 0
    result = []
    while i < len(input_list):
        start = input_list[i]
        
        while i < len(input_list) - 1 and (input_list[i] + 1 == input_list[i+1]):
            i += 1
            
        if start != input_list[i]:
            result.append(f"{start}->{input_list[i]}")
        
        else:
            result.append(str(start))
            
        i += 1
            
    return result

In [9]:
find_summary_range([0,1,2,3,4,6,7,8,9,11])

['0->4', '6->9', '11']

In [17]:
def longest_prefix( p : list): 
    
    # get the minimum length 
    min_len = sorted(p, key=len)[0]
    
    for i , character in enumerate(min_len):
        for word in p: 
            if word[i] != character:
                return min_len[:i]
            
    return min_len
input_string = ["flower","flow", "flo", "floor"]
longest_prefix(input_string)

'flo'

In [22]:
def check_sub_sequence(s, t): 
    
    # check if s is subseq of t 
    S = len(s)
    T = len(t)
    
    if S > T : return False
    
    j = 0
    for i in range(T):
        if s[j] == t[i]: 
            
            if j == S -1 : 
                return True
            
            j += 1 

    return False

check_sub_sequence("abc","aebdc")

True

In [28]:
def merge_alteratively(string1,string2):
    
    A = len(string1)
    
    B = len(string2)
    
    which_string  = 1 
    
    a, b = 0, 0
    
    result = []
    
    while a < A and b < B:
        
        if which_string == 1:
            result.append(string1[a])
            a += 1 
            which_string = 2
        else:
            result.append(string2[b])
            b += 1 
            which_string = 1
            
    
    while a < A:
        result.append(string1[a])
        a += 1
        
    while b < B:
        result.append(string2[b])
        b += 1 
        
    return "".join(result)


merge_alteratively("abc","1234")

'a1b2c34'

In [ ]:
def check_ugly(number : int) -> bool: 
    
    # get all the prime factors 
    p_f =

In [12]:
def get_prime_factors(number): 
    
    i = 2 
    factors = []
    while number > 1: 
        
        if number % i == 0: 
            factors.append(i)
            number = number / i 
            
            i = i -1 
    
        i += 1 
        
    return factors

In [13]:
get_prime_factors(12)

[2, 2, 3]

In [10]:
def get_prime_factor(number : int): 
    
    # if not int, raise error 
    assert isinstance(number, int), "The given number should be an integer."
    
    # list to store the prime factors 
    factors = []
    
    i=2
    # until number becomes one loop
    while number>1:
        # if number remainder becomes 0, procceed to another: 
        if number%i==0:
            factors.append(i)
            number=number/i
            
            i=i-1
        i+=1  
    return factors

In [11]:
get_prime_factor(12)

[2, 2, 3]